html, body {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.content {
    padding: 20px;
    border: 1px solid #333333;
}

.payment-button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}

.payment-logo {
    width: 200px;
}

.amount-input {
    width: 100%;
}

.state-ok {
    background: #04AA6D;
    padding: 5px;
    color: white;
}

.state-fail {
    background: #FF0000;
    padding: 5px;
    color: white;
}

.state-pending {
    background: #ffd966;
    padding: 5px;
    color: white;
}